@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f8f8f8;
}

h1,
h2,
p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --card-shadow: 0 2px 8px hsl(220 15% 15% / 0.08);

    --primary: #28bdbd;
    --primary-foreground: #FFF;

    --secondary: #eff5f5;
    --secondary-foreground: 180 65% 25%;
  }
}